body {
  font-family: 'Arial', sans-serif;
}

table {
  border-collapse: collapse;
}

tr {
  height: 42px;
}

th, 
td {
  font-size: 10pt;
  text-align: left;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  padding: 2px 3px 2px 3px;
  color: #000000;
}

th:last-child,
td:last-child {
  text-align: center;
}


thead {
  background-color: #f7cb4d;
  font-weight: bold;
}

tbody > tr {
  background-color: #ffffff;
}

tbody > tr:nth-child(even) {
  background-color: #fef8e3;
}


