body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  line-height: 1.35;
}

header,
footer,
caption,
table,
th,
td {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen {
  body {
    display: flex;
    justify-content: center;
  }

  header,
  footer,
  caption,
  table,
  th,
  td {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  footer {
    padding-bottom: 3rem;
  }
}

h1>small {
  font-size: 1.2rem;
  display: inline-block;
}

ul {
  padding: 0;
  list-style-position: inside;
}

table {
  border-collapse: collapse;
}

caption,
th {
  text-align: left;
}

th,
td {
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  color: #000000;
}

.place {
  text-align: center;
}


thead {
  background-color: #f7cb4d;
  font-weight: bold;
}

tbody>tr {
  background-color: #ffffff;
}

tbody>tr:nth-child(even) {
  background-color: #fef8e3;
}

.name {
  white-space: nowrap;
}

.month,
.team,
.location,
.tournament-subtitle {
  display: none;
}

.tournament {
  min-width: 100px;
}


@media (min-width: 480px) {
  .team {
    display: table-cell;
  }

  .tournament {
    min-width: 120px;
  }
}

@media (min-width: 576px) {
  .location {
    display: table-cell;
  }

  .tournament-subtitle {
    display: block;
  }
}

@media (min-width: 768px) {
  .month {
    display: table-cell;
  }

  .year {
    display: none;
  }
}
