h3 {
  margin-top: 3rem;
}

table {
  width: 100%;
}

tr {
  border-bottom: 1px solid;
}

th,
td {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

abbr {
  text-decoration: none;
}

.contact {
  page-break-after: always;
}

.contact a[href]::after {
  content: " (" attr(href) ")";
}
